<%= form_for(page, url: admin_articles_overview_update_path) do |f| %>
  <fieldset class="inputs">
    <ol>
      <li class="ckeditor input">
        <%= f.label :overview %>
        <%= f.cktext_area :body %>
      </li>
    </ol>
  </fieldset>

  <fieldset class="inputs">
    <legend><%= t("Sections") %></legend>

    <ol>
      <li class="input">
        <p><%= t("messages.one_section_per_article") %></p>
      </li>
    </ol>

    <%= react_component "ArticlesOverview",
          articles_overview_react_props(page) %>

  </fieldset>

  <fieldset class="actions">
    <ol>
      <li><%= f.submit %></li>
      <li><%= button_tag "Preview", type: 'button', id: 'preview', class: 'btn'%></li>
    </ol>
  </fieldset>
<% end %>
