<%= form_for(page, url: admin_articles_overview_update_path) do |f| %>
  <fieldset class="inputs">
    <ol>
      <li class="ckeditor input">
        <%= f.label :intro %>
        <%= f.cktext_area :intro %>
      </li>
    </ol>
  </fieldset>

  <fieldset class="inputs reorderable">
    <legend>Sections</legend>

    <%= react_component "ArticlesOverview",
          articles_overview_react_props(page) %>

  </fieldset>

  <fieldset class="actions">
    <ol>
      <li><%= f.submit %></li>
    </ol>
  </fieldset>
<% end %>
