<h1>Lesson Planner</h1>

<% if @lesson_plan.lessons.empty? %>
  <p>There's nothing here! <%= link_to "Browse our training topics ", topics_path %> to start adding lessons to your plan.</p>
<% else %>
  <p>Here are your selected lessons. They're remixable! You can click remove to take a lesson off your lesson plan.</p>

  <h2>Your lessons (<%= @lesson_plan.lessons.count %>)</h2>

  <%# <% @todo total time %>
  <span class="total-duration">Total time: X hours</span>

  <% @lesson_plan.lessons.each do |lesson| %>
    <div class="lesson">
      <h3><%= lesson.name %></h3>
      <%= render partial: "lessons/summary", locals: { lesson: lesson } %>
      <%= tags(lesson.topic, :topics_path) %>
    </div>
  <% end %>
<% end %>


