<div class="toc">
  <h1>Lesson Plan:</h1>

  <ol>
    <% @lesson_plan.lessons.published.each do |lesson| %>
      <li><em><strong><%= lesson.name %></strong> <%= "(#{lesson.duration.in_words})" unless lesson.duration.length.zero? %></em></li>
    <% end %>
  </ol>

  <p><strong>Total duration:</strong> <%= @lesson_plan.duration.in_words %></p>

  <% if @materials.present? %>
    <h2>Handouts and Materials</h2>
    <ol>
      <% @materials.each do |material| %>
        <li>
          <strong><em><%= material.name %></em></strong>

          <p><%= html(material.description) %></p>

          <ol>
            <% material.uploads.each do |upload| %>
              <li><%= link_to upload.name, upload.file.url %></li>
            <% end %>
          </ol>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>

<% @lesson_plan.lessons.published.each do |lesson| %>
  <%= page_break %>
  <% @topic, @lesson = lesson.topic, lesson %>
  <%= render template: "lessons/show" %>
<% end %>
