<div class="row">
  <div class="large-8 large-centered columns">
    <div class="breadcrumb"><a href="/topics">&lt; <%= t("topics.show.back_to_topics") %></a></div>
    <h1><%= t(".planner") %></h1>

    <p><%= t(".explanation") %> <%= t(".instructions") %></p>

    <% if !@shared && @lesson_plan.lengthy? %>
      <%= modal("lesson_plan_is_lengthy") do %>
        <%= t_p(".length_warning") %>
      <% end %>
    <% end %>

    <%= react_component "LessonPlan",
          render(partial: @lesson_plan, formats: [:json]),
          prerender: true %>
  </div>
</div>
