<div class="row">
  <div class="large-8 large-centered columns">
    <div class="breadcrumb">
      <%= link_to t(".back_to_glossary").prepend("< "), glossary_index_path %>
    </div>
    <h1><%= @term.name %></h1>

    <div class="content">
      <%= html(@term.body, glossary: true) %>
    </div>

    <% if @term.synonyms? %>
      <strong><%= t(".synonyms") %>:</strong> <%= @term.synonyms.join(", ") %>
    <% end %>
  </div>
</div>
