<% nolink = defined?(nolink) && nolink %>
<%= render "content/teaser", content: article, nolink: nolink do %>
  <h3><%= nolink ? article.name : link_to(article.name, article) %></h3>
  <% if article.authorship.present? %>
    <div class="byline-etc">
      <span class="byline">by <span class="author"><%= article.authorship %></span></span>
    </div>
  <% end %>

  <div class="content">
    <%= preview(article) %> <%= link_to t(".more"), article unless nolink %>
  </div>
<% end %>
