<div class="article card">
  <div class="top">
    <h3><%= link_to article.name, article %></h3>
    <% if article.authorship.present? %>
    <div class="byline">by <span class="author"><%= article.authorship %></span></div>
    <% end %>

    <div class="content">
      <%= preview(article) %> <%= link_to "Read More", article %>
    </div>
  </div>

  <%= link_to article, class: "bottom" do %>
    <div class="flag <%= 'present' if article.flag? %>">
      <%= article.flag || "&nbsp;".html_safe %>
    </div>
    <div class="fold"></div>
  <% end %>
</div>
