<div class="row">
  <div class="large-8 large-centered columns">
    <div class="print-button"><%= t("Print") %></div>
    <%= render partial: 'shared/preview_card',
      locals: { publish_link: admin_article_path(@article, params: { article: @article.attributes }) } %>
    <h1><%= @article.name %></h1>

    <% if @article.authorship.present? %>
      <div class="byline-etc">by <span class="author"><%= @article.authorship %></span></div>
    <% end %>

    <div class="content">
      <%= html(@article.body, glossary: true) %>
    </div>

    <%= render "shared/share", show_for: "small-only" %>

    <% if @article.next_article.present? %>
      <div class="next-article">
        <h2><%= t("Continue Reading") %></h2>
        <%= render @article.next_article %>
      </div>
    <% end %>
    <%= render partial: 'shared/preview_card',
      locals: { publish_link: admin_article_path(@article, params: { article: @article.attributes }) } %>
  </div>
</div>
