<div class="row">
  <div class="large-8 large-centered columns">
    <div class="print-button">Print</div>
    <h1><%= @article.name %></h1>

    <% if @article.authorship.present? %>
      <div class="byline-etc">by <span class="author"><%= @article.authorship %></span></div>
    <% end %>
    <%= render partial: "shared/admin_links", locals: { resource: @article } %>

    <div class="content">
      <%= html(@article.body) %>
    </div>

    <%= render "shared/share", show_for: "small-only" %>

    <% if @article.next_article.present? %>
      <div class="next-article">
        <h2>Continue Reading</h2>
        <%= render @article.next_article %>
      </div>
    <% end %>
  </div>
</div>
