<%= render "content/teaser", content: topic do %>
  <% if topic.icon.present? %>
    <div class="icon"><%= link_to image_tag(topic.icon.url), topic %></div>
  <% end %>

  <h3><%= link_to topic.name, topic %></h3>

  <div class="duration">Duration: <%= duration_range(topic) %></div>
  <div class="levels"><%= difficulty_tag(topic.lessons.map(&:level_id)) %></div>
  <div class="tags"><%= tags(topic, :topics_path) %></div>
<% end %>
