<div class="row">
  <h1>Lesson Topics</h1>

  <div class="column large-8 content">
    <%= html(@page.body) %>
  </div>

  <div class="content description-text">
    <% if Flipper.enabled?(:lesson_plans) %>
      <div class="column large-4">
        <aside>
          <p>In the Lesson Planner, you can organize your selected lessons to prepare for your next teaching opportunity.</p>

          <%= link_to "See Lesson Planner", current_lesson_plan_path,
                      class: "lesson-planner-link arrow-link-small",
                      style: "float: none" %>
        </aside>
      </div>
    <% end %>
  </div>

  <%= render "tags/nav", tags: @tags %>
</div>

<% cache(cache_key_for_topics(@topics)) do %>
  <% @topics.each_slice(2) do |row| %>
    <div class="row">
      <% row.each do |topic| %>
      <div class="topics-cards large-6 columns end">
        <%= render topic %>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div style="clear: both"></div>

<%= paginate @topics %>
