<h1>Lesson Topics</h1>

<%= render "tags/nav", tags: @tags %>

<p class="description-text">Some intro text here.</p>

<%= difficulty_legend %>

<div class="row">
  <% cache(cache_key_for_topics(@topics)) do %>
  <div class="topics-grid">
    <% @topics.each do |topic| %>
    <%= render topic %>
    <% end %>
  </div>
  <% end %>
</div>

<div style="clear: both"></div>

<%= paginate @topics %>


<% topic.topics_in_groups_of(2, false) do |row| %>
<div class="row">
  <% for topic in row %>
  <div class="large-6 columns end">
    <%= render "topic", topic: topic %>
  </div>
  <% end %>
</div>
<% end %>
