<div class="row">
  <h1>Lesson Topics</h1>

  <div class="view-lesson-planner">
    <% if Flipper.enabled?(:lesson_plans) %>
      <%= link_to "View Lesson Planner",  current_lesson_plan_path,
        class: "lesson-planner-link" %>
        <span class="lesson-arrow"></span>
        <% end %>
  </div>


  <div class="content description-text">
    <%= managed_content("topics-intro") %>
  </div>

  <%= render "tags/nav", tags: @tags %>

  <div class="view-lesson-planner">
    <% if Flipper.enabled?(:lesson_plans) %>
      <%= link_to "View Lesson Planner", current_lesson_plan_path,
        class: "lesson-planner-link" %>
        <span class="lesson-arrow"></span>
        <% end %>
  </div>
</div>

<% cache(cache_key_for_topics(@topics)) do %>
  <% @topics.each_slice(2) do |row| %>
    <div class="row">
      <% row.each do |topic| %>
      <div class="topics-cards large-6 columns end">
        <%= render topic %>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div style="clear: both"></div>

<%= paginate @topics %>
