<div class="row">
  <h1><%= t(".title") %></h1>

  <div class="row">
    <div class="column large-8 content">
      <%= html(@page.body) %>
    </div>

    <div class="column large-4">
      <aside>
        <%= t_p(".lesson_planner_explanation") %>

        <%= link_to t(".lesson_planner_link"), current_lesson_plan_path,
                    class: "lesson-planner-link arrow-link-small",
                    style: "float: none" %>
      </aside>
    </div>
  </div>

  <%= render "tags/nav", tags: @tags %>
</div>

<% cache(cache_key_for_topics(@topics)) do %>
  <% @topics.each_slice(2) do |row| %>
    <div class="row">
      <% row.each do |topic| %>
      <div class="topics-cards large-6 columns end">
        <%= render topic %>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div style="clear: both"></div>

<%= paginate @topics %>
