<div class="row">
  <div class="view-lesson-planner">
    <% if Flipper.enabled?(:lesson_plans) %>
      <%= link_to "View Lesson Planner",  current_lesson_plan_path,
        class: "lesson-planner-link" %>
        <span class="lesson-arrow"></span>
        <% end %>
  </div>
  <div class="large-8 large-centered columns">
    <div class="lesson-back"><a href="/topics">&lt; Back to Lesson Topics</a></div>
    <h1><%= @topic.name %></h1>
    <div class="last-modified">
      Last modified <%= @topic.updated_at.strftime("%B %e, %Y") %>
    </div>
    <div class="print-button"><a href="#">Print</a></div>

    <%= render partial: "shared/admin_links", locals: { resource: @topic } %>

    <div class="tags">
      <%= tags(@topic, :topics_path) %>
    </div>

    <div class="tabs">
      <% @topic.lessons.each do |lesson| %>
        <div class="tab <%= "active" if @lesson ==   lesson %>">
          <div class="show-for-small-only">
            <%= link_to "#{lesson.level}",   lesson_path(@topic, lesson),
            remote: true, data: { history:   true } %>
          </div>
          <div class="show-for-medium">
            <%= link_to "#{lesson.level} lesson",   lesson_path(@topic, lesson),
            remote: true, data: { history:   true } %>
          </div>
        </div>
        <% end %>
      </div>

      <div id="tab-content">
        <%= render @lesson %>
      </div>
  </div>
</div>
