<h1><%= @topic.name %></h1>

<%= render partial: "shared/admin_links", locals: { resource: @topic } %>

<div class="tags-list">
<%= tags(@topic, :topics_path) %>
</div>

<div class="tabs">
  <% @topic.lessons.each do |lesson| %>
    <div class="tab <%= "active" if @lesson == lesson %>">
      <%= link_to "#{lesson.level} lesson", lesson_path(@topic, lesson),
                  remote: true, data: { history: true } %>
    </div>
  <% end %>
</div>

<div id="tab-content">
  <%= render @lesson %>
</div>
