<div class="row">
  <div class="large-8 large-centered columns">
    <%= link_to current_lesson_plan_path, class: "lesson-planner-link arrow-link" do %>
      Lesson<br />Planner (<span class="lesson-count"><%= current_lesson_plan.lessons_count %></span>)
    <% end %>

    <div class="breadcrumb"><a href="/topics">&lt; Back to Lesson Topics</a></div>

    <h1><%= @topic.name %></h1>

    <div class="last-modified">
      Last modified <%= @topic.updated_at.strftime("%B %e, %Y") %>
    </div>

    <div class="print-button">Print</div>

    <%= render partial: "shared/admin_links", locals: { resource: @topic } %>

    <div class="tags">
      <%= tags(@topic, :topics_path) %>
    </div>

    <%= render partial: 'shared/preview_card',
      locals: { publish_link: admin_topic_path(@topic),
                preview_params: (@preview_params || {}) } %>

    <div class="tabs">
      <% if @topic.description? %>
        <div class="tab intro <%= "active" if @lesson.nil? %>">
          <%= link_to "Intro", topic_path(@topic),
                remote: true, data: { history: true } %>
        </div>
      <% end %>

      <% @lessons.each do |lesson| %>
        <div class="tab <%= difficulty_class(lesson.level_id) %> <%= "active" if @lesson == lesson %>">
          <div class="hide-for-xlarge-only">
            <% if @preview %>
              <%= link_to "#{lesson.level}",
                preview_topic_lesson_path(@topic, lesson),
                remote: true, method: :post,
                data: { history: true, params: @preview_params.to_param, type: 'json' } %>
            <% else %>
              <%= link_to "#{lesson.level}", lesson_path(@topic, lesson),
                remote: true, data: { history: true } %>
            <% end %>
          </div>

          <div class="show-for-xlarge-only">
            <% if @preview %>
              <%= link_to "#{lesson.level}",
                preview_topic_lesson_path(@topic, lesson),
                remote: true, method: :post,
                data: { history: true, params: @preview_params.to_param, type: 'json' } %>
            <% else %>
              <%= link_to "#{lesson.level}", lesson_path(@topic, lesson),
                remote: true, data: { history: true } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="tab-content">
      <% if @lesson %>
        <%= render @lesson %>
      <% else %>
        <%= html(@topic.description) %>
      <% end %>
    </div>

    <% if @topic.next_topic.present? %>
      <div class="next-topic">
        <%= link_to "Go to the next suggested lesson topic >",
                    topic_path(@topic.next_topic) %>
      </div>
    <% end %>

    <%= render partial: 'shared/preview_card',
      locals: { publish_link: admin_topic_path(@topic),
                preview_params: (@preview_params || {}) } %>

    <%= render "shared/share", show_for: "small-only" %>
  </div>
</div>
