<% if @preview && current_admin_user %>
  <div class="preview-card">
    <div class="top">
      <div class="flag"><%= t("Preview Warning") %></div>
      <h3><%= t("messages.preview_warning") %></h3>
      <div class="content">
        <p><%= t("messages.preview_explanation") %></p>

        <%= link_to t("Publish changes"), publish_link, method: :patch, class: 'btn',
          remote: true, data: { params: @preview_params.to_param, type: 'json' } %>
        <%= link_to t("Return to edit"), '_self', onclick: 'window.close();', class: 'btn-back' %>
      </div>
    </div>
  </div>
<% end %>
