<div class="intro row">
  <div class="large-6 columns">
  </div>
  <div class="large-6 columns">
    <%= @homepage.welcome.html_safe %>
  </div>
</div>
<div style="clear: both"></div>

<div class="row">
  <h1><%= link_to "Training 101", articles_path %></h1>
  <p class="description-text">Description text goes here.</p>
  <% @homepage.featured_articles.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |article| %>
    <div class="large-3 columns end">
      <%= render article %>
    </div>
    <% end %>
  </div>
  <% end %>
  <div class="right">
    <%= link_to "See All Training", topics_path %>
  </div>
</div>

<div class="row">
  <h1>Lessons</h1>
  <p class="description-text">Description text goes here.</p>
  <% @homepage.featured_topics.each_slice(2) do |row| %>
  <div class="row">
    <% row.each do |topic| %>
    <div class="large-6 columns end">
      <%= render topic %>
    </div>
    <% end %>
  </div>
  <% end %>
  <div class="right">
    <%= link_to "See All Lessons", topics_path %>
  </div>
</div>

<div class="row">
  <h1><%= link_to "Educational Materials", materials_path %></h1>
  <p class="description-text">Description text goes here.</p>
  <div class="row">
    <% @homepage.featured_materials.each do |material| %>
    <%= render material %>
    <% end %>
  </div>
  <div class="right">
    <%= link_to "See All Materials", topics_path %>
  </div>
</div>


<div class="row">
  <h1><%= link_to "Blog", blog_path %></h1>
  <p class="description-text">Description text goes here.</p>
  <div class="row">
    <%= render @homepage.featured_blog_post %>
  </div>
  <div class="right">
    <%= link_to "Read All Blog Posts", topics_path %>
  </div>
</div>
</div>
