<% cache(cache_key_for_homepage) do %>
<div class="homepage">
  <div class="row">
    <div class="intro">

        <%= html(homepage.welcome) %>

        <% if homepage.update_notes? %>
          <div class="update">
            <div class="updated-at">
              <%= homepage.update_notes_updated_at.strftime("%B %d, %Y") %>
            </div>

            <%= html(homepage.update_notes) %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="row" >
    <h2><%= link_to "1st Time Trainer?", articles_path %></h2>
    <div class="description-text"><%= html(homepage.articles_intro) %></div>
    <% @homepage.featured_articles.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |article| %>
      <div class="large-4 columns end">
        <a href="<%= article_path(article) %>">
          <%= render article, nolink: true %>
        </a>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="see-all float-right">
      <%= link_to "See All Articles", articles_path %>
    </div>
  </div>

  <div class="row">
    <h2><%= link_to "Lessons", topics_path %></h2>
    <div class="description-text">
      <%= html(homepage.lessons_intro) %>
    </div>

    <% homepage.featured_topics.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |topic| %>
      <div class="large-4 columns end">
        <%= render topic %>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="see-all float-right">
      <%= link_to "See All Lessons", topics_path %>
    </div>
  </div>

  <div class="row">
    <h2><%= link_to "Teaching Materials", materials_path %></h2>
    <div class="description-text">
      <%= html(homepage.materials_intro) %>
    </div>

    <% homepage.featured_materials.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |material| %>
      <div class="large-4 columns end">
        <%= render material %>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="see-all float-right">
      <%= link_to "See All Teaching Materials", materials_path %>
    </div>
  </div>


  <div class="row">
    <h2><%= link_to "Security News", blog_path %></h2>
    <div class="description-text">
      <%= html(homepage.blog_intro) %>
    </div>
    <div class="row">
      <% homepage.featured_blog_posts.each do |blog_post| %>
      <div class="large-12 columns">
        <%= render blog_post %>
      </div>
      <% end %>
    </div>
    <div class="see-all float-right">
      <%= link_to "Read More Security News", blog_path %>
    </div>
  </div>
  <% end %>
</div>
