<% cache(cache_key_for_homepage) do %>
<div class="homepage">
  <div class="intro row">
    <div class="large-6 columns">
    </div>
    <div class="large-6 columns">
      <%= homepage.welcome.html_safe %>
      <div class="update">Update test blah blah blah</div>
    </div>
  </div>
  <div style="clear: both"></div>

  <div class="row">

    <h2><%= link_to "1st Time Trainer?", articles_path %></h2>
    <p class="description-text"><%= homepage.articles_intro.html_safe %></p>
    <% @homepage.featured_articles.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |article| %>
      <div class="large-4 columns end">
        <%= render article %>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="see-all right">
      <%= link_to "See All Training", topics_path %>
    </div>
  </div>

  <div class="row">
    <h2><%= link_to "Lessons", topics_path %></h2>
    <div class="description-text">
      <%= homepage.lessons_intro.html_safe %>
    </div>
    <%= difficulty_legend %>
    <% homepage.featured_topics.each_slice(2) do |row| %>
    <div class="row">
      <% row.each do |topic| %>
        <div class="large-6 columns end">
          <%= render "topic", topic: topic %>
        </div>
      <% end %>
    </div>
    <% end %>
    <div class="see-all right">
      <%= link_to "See All Lessons", topics_path %>
    </div>
  </div>

  <div class="row">
    <h2><%= link_to "Educational Materials", materials_path %></h2>
    <p class="description-text"><%= homepage.materials_intro.html_safe %></p>
    <div class="row">
      <% @homepage.featured_materials.each do |material| %>
      <%= render material %>
      <% end %>
    </div>
    <div class="see-all right">
      <%= link_to "See All Materials", topics_path %>
    </div>
  </div>


  <div class="row">
    <h2><%= link_to "Blog", blog_path %></h2>
    <div class="description-text">
      <%= homepage.blog_intro.html_safe %>
    </div>
    <% homepage.featured_blog_posts.each do |blog_post| %>
    <div class="row">
      <%= render blog_post %>
    </div>
    <% end %>
    <div class="see-all right">
      <%= link_to "Read All Blog Posts", blog_path %>
    </div>
  </div>
<% end %>
</div>
