<% if Flipper.enabled?(:lesson_plans) && @lesson.published? %>
  <%= form_for(current_lesson_plan, remote: true) do |f| %>
    <%= f.fields_for :lesson_plan_lessons, current_lesson_plan_lesson(@lesson) do |sf| %>
      <div class="actions <%= 'disabled' if sf.object.persisted? %>">
        <%= sf.hidden_field :lesson_id %>

        <% if sf.object.persisted? %>
          <%= sf.hidden_field :_destroy, value: 1 %>
          <%= f.submit "Remove From Lesson Plan (#{current_lesson_plan.lessons_count})" %>
        <% else %>
          <%= f.submit "Add To Lesson Plan (#{current_lesson_plan.lessons_count})" %>
        <% end %>
      </div>
    <% end %>

    <em class="notice"><%= link_to "Added To Lesson Plan", current_lesson_plan_path %></em>
  <% end %>
<% end %>

<%= render partial: "lessons/summary", locals: { lesson: @lesson } %>

<% if @lesson.prerequisites? %>
  <div class="prereqs">
    <h3>Prerequisites</h3>

    <div class="content">
      <%= html(@lesson.prerequisites) %>
    </div>
  </div>
<% end %>

<div class="meta">
  <% if @lesson.instructor_students_ratio.present? %>
    <div class="ratio">
      <h3>Ratio</h3>
      <span class="instructors-to-students">
        <%= @lesson.instructor_students_ratio %>
      </span>
    </div>
  <% end %>

  <% if @lesson.suggested_materials? %>
    <div class="suggested-materials">
      <h3>Suggested Materials</h3>

      <div class="content">
        <%= html(@lesson.suggested_materials) %>
      </div>
    </div>
  <% end %>

  <% if @lesson.advice.any? %>
    <div class="articles">
      <h3>Relevant Articles</h3>
      <ul>
        <% @lesson.advice.each do |advice| %>
          <li><%= link_to advice.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% if @lesson.notes? %>
  <div class="notes content">
    <%= html(@lesson.notes) %>
  </div>
<% end %>

<div class="content collapse <%= "uncollapse" if params.include?("expand") %>">
  <%= html(@lesson.body) %>
</div>

<%= link_to "View full session",
            topic_lesson_path(@lesson.topic, @lesson, format: "pdf"),
            class: "view-full expand-collapsed" unless params.include?("expand") %>

<%= link_to "Printable Version (PDF)", topic_lesson_path(@lesson.topic, @lesson, format: "pdf"), class: "pdf-link" %>
