<%= form_for(current_lesson_plan) do |f| %>
  <%= f.fields_for :lesson_plan_lessons, f.object.lesson_plan_lessons.build(lesson_id: @lesson.id) do |sf| %>
    <%= sf.hidden_field :lesson_id %>
  <% end %>
  <%= f.submit "Add To Lesson Plan (#{current_lesson_plan.lessons_count})" %>
<% end %>

<%= render "summary" %>

<% if @lesson.prereqs.any? %>
  <div class="resources prereqs">
    <h3>Prerequisites</h3>
    <span>You have already done:</span>

    <ul>
      <% @lesson.prereqs.each do |prereq| %>
        <li><%= link_to prereq.name, lesson_path(prereq.topic, prereq) %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<div class="lesson-body">
  <%= @lesson.body.html_safe %>
</div>

<% if @lesson.materials.any? %>
  <div class="resources materials">
    <h3>Graphics/Materials</h3>
    <ul>
      <% @lesson.materials.each do |material| %>
        <li><%= link_to material.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @lesson.advice.any? %>
  <div class="resources articles">
    <h3>Relevant Articles</h3>
    <ul>
      <% @lesson.advice.each do |advice| %>
        <li><%= link_to advice.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
