<% if Flipper.enabled?(:lesson_plans) && @lesson.published? %>
  <%= form_tag([current_lesson_plan, :lessons], remote: true, method: "post", class: "add_remove_lesson", data: { lesson_id: @lesson.id }) do %>
    <%= hidden_field_tag :_method, current_lesson_plan_lesson(@lesson).persisted? ? "delete" : "post" %>
    <div class="actions">
      <%= hidden_field_tag :lesson_id, @lesson.id %>
      <%= button_tag type: "submit", value: "add", title: "Add To Lesson Plan" do %>
        <i class="fa fa-plus"></i><span>Add To<br/ >Lesson Plan (<span class="lesson-count"><%= current_lesson_plan.lessons_count %></span>)</span>
      <% end %>
      <%= button_tag type: "submit", value: "destroy", title: "Remove From Lesson Plan" do %>
        <i class="fa fa-minus"></i><span>Remove From<br/ >Lesson Plan (<span class="lesson-count"><%= current_lesson_plan.lessons_count %></span>)</span>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @lesson.duration.length > 0 %>
  <div class="duration">
    Duration: <%= @lesson.duration.in_words %>
  </div>
<% end %>

<% if @lesson.objective? %>
  <div class="objective">
    <h3>Learning Objectives</h3>
    <div class="content">
      <%= html(@lesson.objective, glossary: true) %>
    </div>
  </div>
<% end %>

<% if @lesson.prerequisites? %>
  <div class="prereqs">
    <h3>Prerequisites</h3>

    <div class="content">
      <%= html(@lesson.prerequisites, glossary: true) %>
    </div>
  </div>
<% end %>

<div class="meta">
  <% if @lesson.instructor_students_ratio.present? %>
    <div class="ratio">
      <h3>Ratio</h3>
      <div class="instructors-to-learners">Instructor: Learners</div>
      <span>
        <%= @lesson.instructor_students_ratio %>
      </span>
    </div>
  <% end %>

  <% if @lesson.suggested_materials? %>
    <div class="suggested-materials">
      <h3>Suggested Materials</h3>

      <div class="content">
        <%= html(@lesson.suggested_materials, glossary: true) %>
      </div>
    </div>
  <% end %>

  <% if @lesson.relevant_articles? %>
    <div class="articles">
      <h3>Relevant Articles</h3>
      <%= html(@lesson.relevant_articles, glossary: true) %>
    </div>
  <% end %>
</div>

<% if @lesson.notes? %>
  <div class="notes content">
    <%= html(@lesson.notes, glossary: true) %>
  </div>
<% end %>

<div class="content">
  <% if @lesson.recommended_reading? %>
    <div class="recommended-reading content">
      <h3>Recommended Reading</h3>
      <%= html(@lesson.recommended_reading, glossary: true) %>
    </div>
  <% end %>

  <h2>Lesson Content</h2>

  <%= html(@lesson.body, glossary: true) %>
</div>

<%= link_to "Printable Version (PDF)", topic_lesson_path(@lesson.topic, @lesson, format: "pdf"), class: "pdf-link" %>
