<% if Flipper.enabled?(:lesson_plans) && @lesson.published? %>
  <%= form_for(current_lesson_plan, remote: true) do |f| %>
    <%= f.fields_for :lesson_plan_lessons, current_lesson_plan_lesson(@lesson) do |sf| %>
      <div class="actions <%= 'disabled' if sf.object.persisted? %>">
        <%= sf.hidden_field :lesson_id %>

        <% if sf.object.persisted? %>
          <%= sf.hidden_field :_destroy, value: 1 %>
          <%= f.submit "Remove From Lesson Plan (#{current_lesson_plan.lessons_count})" %>
        <% else %>
          <%= f.submit "Add To Lesson Plan (#{current_lesson_plan.lessons_count})" %>
        <% end %>
      </div>
    <% end %>

    <em class="notice"><%= link_to "Added To Lesson Plan", current_lesson_plan_path %></em>
  <% end %>
<% end %>

<%= render partial: "lessons/summary", locals: { lesson: @lesson } %>

<% if @lesson.prereqs.any? %>
  <div class="prereqs">
    <h3>Prerequisites</h3>
    <span>You have already done:</span>

    <ul>
      <% @lesson.prereqs.each do |prereq| %>
        <li><%= link_to prereq.name, lesson_path(prereq.topic, prereq) %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<div class="meta">
  <% if @lesson.students? %>
    <div class="ratio">
      <h3>Ratio</h3>
      <span class="instructors">
        <%= pluralize(@lesson.instructors || 1, "instructor") %>
      </span>
      :
      <span class="students">
        <%= pluralize(@lesson.students || 1, "student") %>
      </span>
    </div>
  <% end %>

  <% if @lesson.materials.any? %>
    <div class="materials">
      <h3>Graphics/Materials</h3>
      <ul>
        <% @lesson.materials.each do |material| %>
          <li><%= link_to material.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @lesson.advice.any? %>
    <div class="articles">
      <h3>Relevant Articles</h3>
      <ul>
        <% @lesson.advice.each do |advice| %>
          <li><%= link_to advice.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="content collapse">
  <%= @lesson.body.html_safe %>
</div>

<%= link_to "Printable Version (PDF)", topic_lesson_path(@lesson.topic, @lesson, format: "pdf"), class: "pdf-link" %>

<%= link_to "View full session", topic_lesson_path(@lesson.topic, @lesson, format: "pdf"), class: "expand-collapsed" %>
