<%= render "content/teaser", content: blog_post do %>
  <h3><%= link_to blog_post.name, blog_post %></h3>
  <% if blog_post.authorship.present? %>
    <div class="byline-etc">
      <span class="byline">by <span class="author"><%= blog_post.authorship %></span></span>
      | <span class="publised-at"><%= blog_post.published_at.strftime("%B %d, %Y") %></span>
    </div>
  <% end %>

  <div class="blog-image">
    <%= image_tag blog_post.image_url if blog_post.image_url? %>
  </div>

  <div class="content">
    <%= preview(blog_post) %> <%= link_to "Read More" %>
  </div>
<% end %>
