<div class="row">
  <div class="large-8 large-centered columns">
    <h1><%= @material.name %></h1>
    <div class="last-modified">
      Last modified <%= @material.updated_at.strftime("%B %e, %Y") %>
    </div>

    <%= render partial: "shared/admin_links", locals: { resource: @material } %>

    <div class="material-details">
      <% if @topics.present? %>
        <div class="accompanying-lessons">
          <h3>Accompanying <%= 'Lesson'.pluralize(@topics.size) %>:</h3>
          <p><%= safe_join(@topics.map{ |topic| link_to topic.name, topic }, ", ") %></p>
        </div>
      <% end %>

      <div class="content">
        <%= html(@material.description, glossary: true) %>
      </div>

      <h2>Downloads</h2>
      <% @material.uploads.each do |upload| %>
        <div class="upload">
          <% if upload.name %>
            <h3><%= upload.name %></h3>
          <% end %>

          <% if upload.description %>
          <div class="upload-description"><%= upload.description %></div>
          <% end %>

          <%= link_to(upload.file.url) do %>
            <div class="material-img">
              <%= full_preview(upload.file) %>
            </div>
            <div class="material-link">
              Download <%= file_name(upload.file) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render "shared/share", show_for: "small-only" %>
  </div>
</div>
