<div class="row">
    <div class="large-8 large-centered columns">
      <h1><%= @material.name %></h1>
      <div class="last-modified">
        Last modified <%= @material.updated_at.strftime("%B %e, %Y") %>
      </div>

      <%= render partial: "shared/admin_links", locals: { resource: @material } %>

      <div class="material-details">
        <div class="content">
          <%= html(@material.description) %>
        </div>

      <h2>Downloads</h2>
      <% @material.uploads.each do |upload| %>
        <div class="upload">
          <% if upload.name %>
            <h3><%= upload.name %></h3>
          <% end %>

          <% if upload.description %>
          <div class="upload-description"><%= upload.description %></div>
          <% end %>

          <div class="material-img">
            <%= full_preview(upload.file) %>
          </div>
          <div class="material-link">
            <%= link_to file_name(upload.file), upload.file.url %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <%= render "shared/share", show_for: "small-only" %>
</div>
