<h1><%= @material.name %></h1>

<div class="material-preview">
  <%= link_to file_preview(@material.attachment), @material.attachment.url  %>
  <div class="material-download">
    <%= link_to "Download", @material.attachment.url %>
  </div>
</div>

<div class="material-details">
  <h2>Description</h2>

  <div class="content">
    <%= @material.body.html_safe.presence || "<p>None</p>".html_safe %>
  </div>


  <% if @topics.present? %>
    <h2>Accompanying Lessons</h2>
    <% @topics.each do |topic| %>
      <%= render topic %>
    <% end %>
  <% end %>
</div>
