<div class="row">
    <div class="large-8 large-centered columns">
      <h1><%= @material.name %></h1>

      <%= render partial: "shared/admin_links", locals: { resource: @material } %>

      <div class="material-details">
        <div class="content">
          <%= html(@material.description) %>
        </div>

      <h2>Downloads</h2>
      <% @material.uploads.each do |upload| %>
        <div class="upload">
          <% if upload.name %>
            <h3><%= upload.name %></h3>
          <% end %>

          <% if upload.description %>
          <div class="upload-description"><%= upload.description %></div>
          <% end %>

          <%= file_preview(upload.file) %>
          <%= link_to file_name(upload.file), upload.file.url %>
        </div>
      <% end %>
    </div>
  </div>
</div>
