<h3><%= survey_prompt(survey_question) %></h3>

<% if survey_question.options.present? %>
  <%= render "admin/survey_questions/histogram",
             survey_question: survey_question %>
<% else %>
  <% survey_question.responses.order(created_at: :desc).limit(3).each do |response| %>
    <% next unless response.value? %>

    <blockquote>
      <%= response.value %>
      <br />

      &mdash; <%= link_to response.feedback.created_at.strftime('%b %d, %Y'), "/admin/feedback/#{response.feedback.id}" %>
      from <%= link_to response.feedback.source_url, response.feedback.source_url %>
    </blockquote>
  <% end %>

  <% if survey_question.responses.size > 3 %>
    <%= link_to ".. read all responses",
          show_responses_admin_survey_question_path(survey_question) %>
  <% end %>
<% end %>

