<div class="row">
  <div class="large-8 large-centered columns">
    <h1><%= t(".title") %></h1>

    <%= t_p(".explanation_html") %>

    <h2><%= t(".questions") %></h2>

    <p><%= t(".instructions") %></p>

    <p><%= t(".required_field_explainer") %></p>

    <%= form_for(@feedback, url: feedback_create_path) do |f| %>
      <%= invisible_captcha %>

      <%= f.fields_for(:survey_responses) do |sf| %>
        <%= sf.hidden_field :survey_question_id %>

        <div class="survey-question <%= "with-errors" if sf.object.errors.any? %>">
          <p>
            <%= sf.options[:child_index] + 1 %>)
            <%= sf.label :value, survey_prompt(sf.object.survey_question),
                  class: sf.object.survey_question.required? ? "required" : "" %>
          </p>

          <div class="survey-response">
            <% sf.object.survey_question.options.each do |option| %>
              <div class="survey-option">
                <%= sf.radio_button :value, option.value, required: sf.object.survey_question.required? %>
                <%= sf.label :value, option.value, value: option.value %>
              </div>
            <% end %>

            <% unless sf.object.survey_question.options.present? %>
              <%= sf.text_area :value %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= f.submit t(".submit"), data: { disable_with: false } %>
    <% end %>
  </div>
</div>
