<footer class="no-print">
  <div class="row">
    <h1><%= t("sec") %></h1>
    <div class="logos">
      <div class="columns large-4 large-offset-2">
        <span class="ssd-logo">
          <%= t(".division_of") %>
          <%= link_to image_tag("ssd-logo.png", alt: "SEC logo"),
                      "https://ssd.eff.org/" %>
        </span>
      </div>
      <div class="columns large-4 end">
        <span class="eff-logo">
          <%= t(".project_of") %>
          <%= link_to image_tag("eff-logo.png", alt: "EFF logo"),
                      "https://www.eff.org/" %>
        </span>
      </div>
    </div>
  </div>

  <div class="row footer-links">
    <ul class="navigation">
      <li><%= link_to t("layouts.menu.articles"), articles_path %></li>
      <li><%= link_to t("layouts.menu.topics"), topics_path %></li>
      <li><%= link_to t("layouts.menu.blog"), blog_path %></li>
      <li><%= link_to t("layouts.menu.materials"), materials_path %></li>
    </ul>

    <ul class="about">
      <li><%= link_to t("layouts.menu.feedback"), feedback_root_path %></li>
      <li><%= link_to t("layouts.menu.translations"), translations_path %></li>
      <li><%= link_to t("layouts.menu.contact"), "mailto:sec-feedback@eff.org" %></li>
      <li><%= link_to t("layouts.menu.credits"), "/credits" %></li>
      <li><%= link_to t("layouts.menu.privacy_policy"), "https://www.eff.org/policy" %></li>
      <li><%= link_to t("layouts.menu.license"), "https://www.eff.org/copyright" %></li>
    </ul>

  </div>
</footer>
