<footer>
  <div class="row">
    <h1>Security Education Companion</h1>
    <div class="large-6 columns">
      <%= image_tag("ssd-logo.png", :alt => "SEC logo") %>
    </div>
    <div class="large-6 columns">
      <%= image_tag("eff-logo.png", :alt => "SEC logo") %>
    </div>
  </div>
  <div class="footer-links row">
    <div class="large-3 columns">
      <ul>
        <li><%= link_to "Security Education 101", articles_path %></li>
        <li><%= link_to "Lesson Topics", topics_path %></li>
        <li><%= link_to "Security News", blog_path %></li>
        <li><%= link_to "Teaching Materials", materials_path %></li>
      </ul>
    </div>
    <div class="large-3 columns">
      col2
    </div>
    <div class="large-3 columns">
      col3
    </div>
    <div class="large-3 columns">
      col4
    </div>
  </div>
</footer>
