<footer class="no-print">
  <div class="row">
    <h1>Security Education Companion</h1>
    <div class="logos">
      <div class="columns large-4 large-offset-2">
        <span class="ssd-logo">
          A Division of
          <%= link_to image_tag("ssd-logo.png", alt: "SEC logo"),
            "https://ssd.eff.org/" %>
        </span>
      </div>
      <div class="columns large-4 end">
        <span class="eff-logo">
          A Project of
          <%= link_to image_tag("eff-logo.png", alt: "EFF logo"),
            "https://www.eff.org/" %>
        </span>
      </div>
    </div>
  </div>

  <div class="row footer-links">
    <ul class="navigation">
      <li><%= link_to "Security Education 101", articles_path %></li>
      <li><%= link_to "Lessons", topics_path %></li>
      <li><%= link_to "Security News", blog_path %></li>
      <li><%= link_to "Teaching Materials", materials_path %></li>
    </ul>

    <ul class="about">
      <li><%= link_to "Submit Feedback", feedback_root_path %></li>
      <li><%= link_to "Contact", "mailto:sec-feedback@eff.org" %></li>
      <li><%= link_to "Credits", "/credits" %></li>
      <li><%= link_to "Privacy", "https://www.eff.org/policy" %></li>
      <li><%= link_to "License", "https://www.eff.org/copyright" %></li>
    </ul>

  </div>
</footer>
