<div class="header-wrapper">
  <div class="top-bar">
    <div class="back-ssd top-bar-left">
      <span class="back-arrow">&laquo;</span>
      <span class="back-text show-for-small-only">
        <%= link_to "Back to ssd.eff.org", "https://ssd.eff.org" %>
      </span>
      <span class="back-text show-for-medium">
        <%= link_to "Back to Surveillance Self-Defense ssd.eff.org", "https://ssd.eff.org" %>
      </span>
    </div>

    <div class="tagline top-bar-right show-for-medium">
      <div class="tagline-bevel">&nbsp;</div>
      <div class="eff-tagline">
        A Project of the
        <%= link_to "Electronic Frontier Foundation", "https://eff.org" %>
      </div>
    </div>
  </div>

  <header>
    <div class="logo">
      <a href="/">
        <%= image_tag("sec-logo.png", :alt => "SEC logo") %>
      </a>
    </div>
    <div class="site-name">
      <%= link_to "Security Education Companion", "/" %>
    </div>
    <div class="site-name-mobile">
      <%= link_to "SEC", "/" %>
    </div>
  </header>
</div>

<nav id="main-menu" aria-labelledby="main-menu-label">
  <h2 id="main-menu-label" class="show-for-sr">Main Menu</h2>
  <ul>
    <li><%= link_with_aria_current "Lessons", topics_path %></li>
    <li><%= link_with_aria_current "Blog", blog_path %></li>
    <li><%= link_with_aria_current "Training 101", articles_path %></li>
    <li><%= link_with_aria_current "Materials", materials_path %></li>
  </ul>
</nav>
