<div class="top-bar">
  <div class="back-ssd medium-3 large-3 columns">
    <span class="back-arrow show-for-large-up">&laquo;</span>
    <span class="back-text">Back to <span class="ssd-long">Surveillance Self-Defense </span><a href="https://ssd.eff.org">ssd.eff.org</a></span>
  </div>
  <div class="tagline medium-9 large-9 columns">
    <span class="tagline-bevel show-for-medium-up">&nbsp;</span>
    <span class="eff-tagline show-for-small-only">A Project of the EFF</span>
    <span class="eff-tagline show-for-medium-up">A Project of the Electronic Frontier Foundation</span>
    </div>
</div>
<header>
  <div class="logo">
    <%= image_tag("sec-logo.png", :alt => "SEC logo") %>
  </div>
  <div class="site-name show-for-small-only">SEC</div>
  <div class="site-name show-for-medium-up">Security Education Companion</div>
</header>

  <div id="main-menu">
    <ul>
      <li><%= link_to "Lessons", topics_path %></li>
      <li><%= link_to "Blog", blog_path %></li>
      <li><%= link_to "Training 101", articles_path %></li>
      <li><%= link_to "Materials", materials_path %></li>
    </ul>
  </div>
