<!DOCTYPE html>
<html>
  <head>
    <title>TrainersHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Logo + Title</h1>
    </header>

    <% if breadcrumbs.present? %>
      <div id="breadcrumbs">
        <% breadcrumbs.each_with_index do |page, i| %>
          <%= '>' unless i.zero? %>
          <span class="crumb"><%= page %></span>
        <% end %>
      </div>
    <% end %>

    <div id="main-content">
      <%= yield %>
    </div>

    <footer>
      Footer
    </footer>
  </body>
</html>
