<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "vendor/modernizr" %>
</head>

<body class="section-<%= controller_name %> page-<%= action_name %>">
  <%= render "layouts/header" %>

  <div id="main-content">
    <%= yield %>
  </div>

  <%= render "layouts/footer" %>

  <div id="anon-stats">
  </div>
</body>
</html>
