<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-bar">
      <span class="eff-branding">(logo) A Project of the Electronic Frontier Foundation</span>
      <span class="search">
        Search&nbsp;
        <input type="text">
      </span>
    </div>
    <header>
      <span class="logo">Logo + Title</span>
    </header>

    <% if breadcrumbs.present? %>
      <div id="breadcrumbs">
        <%= render_breadcrumbs %>
      </div>
    <% end %>

    <div id="main-menu">
      <ul>
        <li><a href="#">Lessons</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Training 101</a></li>
        <li><a href="#">Materials</a></li>
      </ul>
    </div>
    <div id="main-content">
      <%= yield %>
    </div>

    <footer>
      Footer
    </footer>
  </body>
</html>
