<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "vendor/modernizr" %>
</head>

<body>

  <div class="top-bar">
    <div class="back-ssd large-3 columns">
      <span class="back-arrow">&laquo;</span>
      <span class="back-text">Back to Surveillance Self-Defense ssd.eff.org</span>
    </div>
    <div class="large-9 columns logo-tagline">
      <span class="tagline-bevel">&nbsp;</span>
      <span class="eff-tagline">A Project of the Electronic Frontier Foundation</span>
      </div>
  </div>
  <header>
    <span class="logo"></span>
    <span class="site-name">Security Education Companion</span>
  </header>


  <% if breadcrumbs.present? %>
  <div id="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
  <% end %>

    <div id="main-menu">
      <ul>
        <li><%= link_to "Lessons", topics_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "Training 101", articles_path %></li>
        <li><%= link_to "Materials", materials_path %></li>
      </ul>
    </div>
    <div id="main-content">
      <%= yield %>
    </div>

  <footer>
    <div class="row">
      Footer
    </div>
  </footer>

</body>
</html>
