<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      Logo + Title
    </header>

    <% if breadcrumbs.present? %>
      <div id="breadcrumbs">
        <%= render_breadcrumbs %>
      </div>
    <% end %>

    <div id="main-content">
      <%= yield %>
    </div>

    <footer>
      Footer
    </footer>
  </body>
</html>
