<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= tag :meta, property: "og:title", content: og_title.try(:strip) %>
  <%= tag :meta, property: "og:type", content: "website" %>
  <%= tag :meta, property: "og:url", content: url_for_share %>
  <%= tag :meta, property: "og:image", content: og_image %>
  <%= tag :meta, property: "og:description", content: og_description.try(:strip) %>

  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= content_for(:head) %>
</head>

<body class="section-<%= controller_name %> page-<%= action_name %>">
  <a href="#main-content" class="show-for-sr"><%= t("Skip to main content") %></a>
  <%= render "layouts/header" %>

  <div id="page">
    <div class="share-links-sidebar">
      <%= render "shared/share", show_for: "medium" %>
    </div>

    <div class="side-feedback show-for-medium">
      <%= render "shared/feedback" if current_admin_user %>
    </div>

    <div id="main-content">
      <%= yield %>
    </div>

    <div id="glossary" role="tooltip" tabindex="-1"></div>
    <span class="hide" id="tooltip-action"><%= t("Close tooltip") %></span>
  </div>

  <%= render "layouts/footer" %>

  <%= matomo_tracking_embed %>

  <span id="desktop-canary" class="show-for-medium"></span>
</body>
</html>
