<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title><%= page_title %></title>

  <%= stylesheet_link_tag "pdf", media: "all" %>
</head>

<body class="section-<%= controller_name %> page-<%= action_name %>">
  <div id="header">
    <img src="<%= image_url("print-header.png") %>" />
  </div>

  <div id="main-content">
    <%= yield %>
  </div>
</body>
</html>
