<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= page_title %></title>

  <%= wicked_pdf_stylesheet_link_tag("pdf") %>
</head>

<body class="section-<%= controller_name %> page-<%= action_name %>">
  <div id="main-content">
    <%= yield %>
  </div>
</body>
</html>
